html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
    font-size: 12px;
    background: #444;
    text-align: center;
}

canvas {
    margin: 15px auto;
    background: #fff;
    border: 1px solid #000;
}

div.center {
    margin: inherit auto;
}